name: Build container and run API testing

on:
  workflow_dispatch:
    inputs:
      PORT:
        description: 'The port of your application'
        required: true
        default: "3000"
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Descargar el código del repositorio
      - name: Checkout repository
        uses: actions/checkout@v4
      
      # Instalar docker
      - name: Setup docker
        uses: docker/setup-buildx-action@v3
      
      # Construir imagen de docker
      - name: Build docker image
        run: |
          docker build -t proyecto-final-api:latest .
      
      # Levantar contenedor
      - name: Run container
        run: |
          docker run -d \
            -p ${{ github.event.inputs.PORT || '443' }}:${{ github.event.inputs.PORT || '3000' }} \
            --name proyecto-final-api proyecto-final-api:latest
          sleep 10
      
      # Verificar que el contenedor está corriendo
      - name: Check container status
        run: |
          docker ps
          docker logs proyecto-final-api
      
      # Instalar hurl
      - name: Setup hurl (API testing tool)
        uses: gacts/install-hurl@v1
      
      # Ejecutar pruebas de API
      - name: Test API
        run: |
          hurl --variable host=https://localhost:${{ github.event.inputs.PORT || '3000' }} --error-format long --test session.hurl
